/*Normalizer*/

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/*Normalizer*/


/*Colors

text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF

Colors*/

@media only screen and (max-width: 544px) and (min-width: 0px) {



a {
  text-decoration: none;
  color: #FFFFFF;
}

header nav ul {
  height: 9vw;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: none;
  margin-left: 32.5vw;
}

nav ul {
  margin: auto;
  height: 8vw;
  width: 71vw;
  background-color: #7DDFE8;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.logo-container {
  background: url('../images/filmclub.png');
  background-position: center;
  background-color: #F5005B;
  background-size: 75%;
  background-repeat: no-repeat;
  padding-bottom: 2vw;
  height: 15vw;
  width: 10vw;
  }


  .nav-item1 {
    height: 3vw;
    width: 25vw;
    background-color: #00A5BF;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-item2 {
    height: 3vw;
    width: 25vw;
    background-color: #00B7D3;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-item3 {
    height: 3vw;
    width: 25vw;
    background-color: #00D5E7;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-content {
    background-color: white;
    margin: auto;
    height: 10vw;
    width: 35vw;
    list-style: none;
    text-decoration: none;
  }

  .main-heading {
    font-family: 'PT Sans', sans-serif;
    font-size: 3vw;
    font-weight: lighter;
    padding-left: 1.7vw;
    padding-top: 1.7vw;
    padding-bottom: 1vw;
    margin: auto;
  }

  .header2-content {
    background-color: #0B1942;
    margin: auto;
    height: 95vw;
    width: 35vw;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 3vw;
    font-weight: lighter;
  }



  footer nav ul {
    margin: auto;
    width: 35vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  nav p {
    margin: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3vw;
    color: white;
    padding-right: 1.5vw;
  }

  footer nav .nav-item1 {
    width: 35vw;
  }

  footer nav .nav-item2 {
    width: 35vw;
  }

  footer nav .nav-item3 {
    width: 35vw;
  }


}
