/*Normalizer*/

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/*Normalizer*/


/*Colors

text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF

Colors*/

@media only screen and (max-width: 544px) and (min-width: 0px) {

body {
  background-color: black;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

header nav ul {
  height: 24vw;
  width: 79vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: none;
}

nav ul {
  margin: auto;
  height: 40vw;
  width: 79vw;
  background-color: #7DDFE8;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo-container {
  background: url('../images/filmclub.png');
  background-position: center;
  background-color: #F5005B;
  background-size: 75%;
  background-repeat: no-repeat;
  padding-bottom: 2vw;
  height: 25vw;
  width: 25vw;
  }


  .nav-item1 {
    height: 8vw;
    width: 54vw;
    background-color: #00A5BF;
    font-family: 'PT Sans', sans-serif;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-item2 {
    height: 8vw;
    width: 54vw;
    background-color: #00B7D3;
    font-family: 'PT Sans', sans-serif;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-item3 {
    height: 8vw;
    width: 54vw;
    background-color: #00D5E7;
    font-family: 'PT Sans', sans-serif;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-content {
    background-color: white;
    margin: auto;
    height: 16vw;
    width: 79vw;
    list-style: none;
    text-decoration: none;
  }

  .main-heading {
    font-family: 'PT Sans', sans-serif;
    font-size: 5vw;
    font-weight: lighter;
    padding-left: 3vw;
    padding-top: 5vw;
    margin: auto;
  }

  .header2-content {
    background-color: #0B1942;
    margin: auto;
    height: 80vw;
    width: 79vw;
    list-style: none;
    text-decoration: none;
    color: white;
  }

  .mainpost-heading {
    padding-bottom: 5vw;
    padding-top: 5vw;
    padding-left: 3vw;
    font-family: 'PT Sans', sans-serif;
    font-size: 5.5vw;
    font-weight: lighter;
  }

.calendar-back {
  display: flex;
  flex-flow: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
  width: 79vw;
  height: 20vw;
  background-color: #0B1942;
}

.white-box {
  margin: .3vw 0 .3vw 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  width: 11vw;
  height: 11vw;
}

.pink-box {
  margin-top: .3vw;
  margin-bottom: .3vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #F5005B;
  width: 11vw;
  height: 11vw;
}

.blue-box {
  margin-bottom: .3vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #0B1942;
  width: 5vw;
  height: 5vw;
  font-family: "PT SANS";
  font-size: 2.5vw;
  padding-top: 1vw;
}

.calendar-bottom-row {
  display: flex;
  justify-content: flex-start;
  background-color: #0B1942;
  width: 79vw;
  height: 10vw;
}

.calendar-bottom {
  margin-top: 26.5vw;
  margin-left: .3vw;

  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  width: 11vw;
  height: 11vw;
}



  footer nav ul {
    margin: auto;
    width: 79vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  nav p {
    margin: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 3vw;
    color: white;
  }

  footer nav .nav-item1 {
    width: 79vw;
  }

  footer nav .nav-item2 {
    width: 79vw;
  }

  footer nav .nav-item3 {
    width: 79vw;
  }


}
