/*Normalizer*/

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/*Normalizer*/


/*Colors

text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF

Colors*/


body {
  background-color: black;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}


.nav-bar {
  margin: auto;
  height: 8vw;
  width: 71vw;
  background-color: #7DDFE8;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.logo-container {
  background: url('../images/filmclub.png');
  background-position: center;
  background-color: #F5005B;
  background-size: 85%;
  background-repeat: no-repeat;
  height: 8vw;
  width: 7vw;
  }

.page-header {
  background-color: white;
  margin: auto;
  width: 71vw;
}


/*Below for Nav Bar and Footer*/

.nav-item1 {
  height: 8vw;
  width: 7vw;
  background-color: #00A5BF;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item2 {
  height: 8vw;
  width: 7vw;
  background-color: #00B7D3;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item3 {
  height: 8vw;
  width: 7vw;
  background-color: #00D5E7;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*First Section*/

.header-content {
  background-color: white;
  margin: auto;
  height: 25vw;
  width: 71vw;
  list-style: none;
  text-decoration: none;
}

.main-heading {
  font-family: 'PT Sans', sans-serif;
  font-size: 3vw;
  font-weight: lighter;
  padding-left: 1.7vw;
  padding-top: 1.7vw;
  padding-bottom: 1vw;
}

.picture-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.slide-img {
  width: 20vw;
}

.entry-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 2.3vw;
  font-weight: lighter;
  background-color: #0B1942;
  margin: auto;
  color: #FFFFFF;
  padding-left: 1vw;
  padding-top: .3vw;
  padding-bottom: .3vw;
}

.slide-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  padding-top: 1vw;
}

/*Second Section*/

.header2-content {
  background-color: #0B1942;
  margin: auto;
  height: 62vw;
  width: 71vw;
  list-style: none;
  text-decoration: none;
}

.mainpost-heading {
  font-family: 'PT Sans', sans-serif;
  font-size: 2.2vw;
  font-weight: lighter;
  background-color: #0B1942;
  margin: auto;
  color: #FFFFFF;
  padding-left: 2vw;
  padding-top: 1.3vw;
  padding-bottom: 1.8vw;
}

.title-box-item {
  background-color: #E2E2E2;
  height: 23vw;
  width: 33vw;
  margin-left: 1.4vw;
  padding-top: 1vw;
  padding-left: 1vw;
}

.title-img {
  background-image: url('../images/rashomon-poster.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 21vw;
  width: 26vw;
}

.posterbox-title {
  padding-left: 16vw;
  margin-top: -21vw;
}

.posterbox-title a {
  font-family: 'PT Sans', sans-serif;
  font-size: 2.2vw;
  font-weight: lighter;
  text-decoration: underline;
  color: #00B7D3;
}

.posterbox-text {
  padding-left: 16vw;
  padding-top: .4vw;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  font-weight: lighter;
}

.list-title {
  margin-top: 1.1vw;
  margin-left: 16vw;
  margin-right: 1vw;
  padding-top: 1.1vw;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  font-weight: bold;
  border-top-style: solid;
  border-top-width: thin;
}

.discussion-list {
  padding-left: 17.5vw;
  padding-top: .4vw;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  font-weight: lighter;
  list-style-type: circle;
}

.poster-container {
  background-color: #E2E2E2;
  margin-top: -23vw;
  margin-right: 1vw;
  height: 55vw;
  width: 33vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  float: right;
}

.poster-boxes {
  height: 23vw;
  width: 16.5vw;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  font-weight: lighter;
}

.poster-boxes p {
  margin-left: 1vw;
}

.entrypost-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  font-weight: lighter;
  text-decoration: underline;
  color: #00B7D3;
  margin-left: 1vw;
}

.post-img1 {
  background-image: url('../images/great-train-poster.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 21vw;
  width: 26vw;
  margin-top: 1vw;
  margin-left: 1vw;
}

.post-img2 {
  background-image: url('../images/nosferatu-poster.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 21vw;
  width: 26vw;
  margin-top: -3vw;
  margin-left: 1vw;
}

.post-img3 {
  background-image: url('../images/bicycle-thief-poster.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 21vw;
  width: 26vw;
  margin-top: 1vw;
  margin-left: 1vw;
}

.post-img4 {
  background-image: url('../images/metropolis-poster.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 21vw;
  width: 26vw;
  margin-top: -3vw;
  margin-left: 1vw;
}

/*Footer*/

.nav-bar p {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  color: white;
  padding-right: 1.5vw;
}

@media screen and (min-width: 769px)
{

}

@media only screen and (max-width: 768px) and (min-width: 545px) {

}
