/*Normalizer*/

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/*Normalizer*/


/*Colors

text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF

Colors*/


body {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

.nav-bar {
  margin: auto;
  height: 8vw;
  width: 71vw;
  background-color: #7DDFE8;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.logo-container {
  background: url('../images/filmclub.png');
  background-position: center;
  background-color: #F5005B;
  background-size: 85%;
  background-repeat: no-repeat;
  height: 8vw;
  width: 7vw;
  }

.page-header {
  background-color: white;
  margin: auto;
  width: 71vw;
}


/*Below for Nav Bar and Footer*/

.nav-item1 {
  height: 8vw;
  width: 7vw;
  background-color: #00A5BF;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item2 {
  height: 8vw;
  width: 7vw;
  background-color: #00B7D3;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item3 {
  height: 8vw;
  width: 7vw;
  background-color: #00D5E7;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*First Section*/

.page-header {
  background-color: gray;
  margin: auto;
  height: 40vw;
  width: 71vw;
  list-style: none;
  text-decoration: none;
}

/*Second Section*/

.page-header2 {
  background-color: #0B1942;
  margin: auto;
  height: 24vw;
  width: 71vw;
  list-style: none;
  text-decoration: none;
}


/*Footer*/

.nav-bar p {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  color: white;
  padding-right: 1.5vw;
}
