/*Normalizer*/

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/*Normalizer*/


/*Colors

text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF

Colors*/


body {
  background-color: black;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}


nav ul {
  margin: auto;
  height: 8vw;
  width: 71vw;
  background-color: #7DDFE8;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.logo-container {
  background: url('../images/filmclub.png');
  background-position: center;
  background-color: #F5005B;
  background-size: 85%;
  background-repeat: no-repeat;
  height: 8vw;
  width: 7vw;
  }



/*Below for Nav Bar and Footer*/

.nav-item1 {
  height: 8vw;
  width: 7vw;
  background-color: #00A5BF;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item2 {
  height: 8vw;
  width: 7vw;
  background-color: #00B7D3;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item3 {
  height: 8vw;
  width: 7vw;
  background-color: #00D5E7;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*First Section*/

.header-content {
  background-color: white;
  margin: auto;
  height: 25vw;
  width: 71vw;
  list-style: none;
  text-decoration: none;
}

.main-heading {
  font-family: 'PT Sans', sans-serif;
  font-size: 3vw;
  font-weight: lighter;
  padding-left: 1.7vw;
  padding-top: 1.7vw;
  padding-bottom: 1vw;
  margin: auto;
}

.picture-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

.slide-img {
  width: 20vw;
  margin: auto;
}

.entry-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 2.3vw;
  font-weight: lighter;
  background-color: #0B1942;
  margin: auto;
  color: #FFFFFF;
  padding-left: 1vw;
  padding-top: .3vw;
  padding-bottom: .3vw;
}

.slide-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  padding-top: 1vw;
  margin: auto;
}

/*Second Section*/

.header2-content {
  background-color: #0B1942;
  margin: auto;
  height: 62vw;
  width: 71vw;
  list-style: none;
  text-decoration: none;
}

.mainpost-heading {
  font-family: 'PT Sans', sans-serif;
  font-size: 2.2vw;
  font-weight: lighter;
  background-color: #0B1942;
  margin: auto;
  color: #FFFFFF;
  padding-left: 2vw;
  padding-top: 1.3vw;
  padding-bottom: 1.8vw;
}

.title-box-item {
  background-color: #E2E2E2;
  height: 23vw;
  width: 33vw;
  margin-left: 1.4vw;
  padding-top: 1vw;
  padding-left: 1vw;
}

.title-img {
  background-image: url('../images/rashomon-poster.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 21vw;
  width: 26vw;
}

.posterbox-title {
  padding-left: 16vw;
  margin-top: -21vw;
}

.posterbox-title a {
  font-family: 'PT Sans', sans-serif;
  font-size: 2.2vw;
  font-weight: lighter;
  text-decoration: underline;
  color: #00B7D3;
}

.posterbox-text {
  padding-left: 16vw;
  padding-top: .4vw;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  font-weight: lighter;
}

.list-title {
  margin-top: 1.1vw;
  margin-left: 16vw;
  margin-right: 1vw;
  padding-top: 1.1vw;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  font-weight: bold;
  border-top-style: solid;
  border-top-width: thin;
}

.discussion-list {
  padding-left: 17.5vw;
  padding-top: .4vw;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  font-weight: lighter;
  list-style-type: circle;
}

.poster-container {
  background-color: #E2E2E2;
  margin-top: -23vw;
  margin-right: 2vw;
  height: 55vw;
  width: 33vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  float: right;
}

.poster-boxes {
  height: 21vw;
  width: 16.5vw;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  font-weight: lighter;
  margin: auto;
}

.poster-boxes p {
  margin-left: 1vw;
}

.entrypost-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  font-weight: lighter;
  text-decoration: underline;
  color: #00B7D3;
  margin-left: 1vw;
}

.post-img1 {
  background-image: url('../images/great-train-poster.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 21vw;
  width: 26vw;
  margin-top: -2vw;
  margin-left: 1vw;
}

.post-img2 {
  background-image: url('../images/bicycle-thief-poster.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 21vw;
  width: 26vw;
  margin-top: -2vw;
  margin-left: 1vw;
}

.post-img3 {
  background-image: url('../images/nosferatu-poster.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 21vw;
  width: 26vw;
  margin-top: -2vw;
  margin-left: 1vw;
}

.post-img4 {
  background-image: url('../images/metropolis-poster.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 21vw;
  width: 26vw;
  margin-top: -2vw;
  margin-left: 1vw;
}

/*Footer*/

nav p {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3vw;
  color: white;
  padding-right: 1.5vw;
}



@media only screen and (max-width: 768px) and (min-width: 545px) {

nav ul {
  width: 48vw;
}

.header-content {
  width: 48vw;
  height: 30vw;
}

.slide-img {
  width: 12vw;
}

.entry-title {
  font-size: 1.5vw;
}

.header2-content {
  width: 48vw;
}

.title-box-item {
  width: 45vw;
  height: 30vw;
}

.title-img {
  height: 28vw;
  width: 35vw;
}

.poster-container {
  margin: auto;
}

.posterbox-title {
  margin-left: 5vw;
  margin-top: -27vw;
}

.posterbox-text {
  padding-left: 21vw;
  padding-top: .4vw;
}

.list-title {
  margin-top: 2vw;
  margin-left: 21vw;
  margin-right: 1vw;
  padding-top: 1.1vw;
  border-top-style: solid;
  border-top-width: thin;
}

.discussion-list {
  padding-left: 23vw;
  padding-top: 1vw;
}

.poster-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 45vw;
  height: 22vw;
  margin-right: 1.6vw;
  margin-top: 1.5vw;
}

.poster-boxes {
  height: 12vw;
  width: 10vw;
  margin-top: 0vw;
  margin-left: 0vw;
}


.post-img1 {
  height: 14vw;
  width: 14vw;
  margin-top: 1vw;
}

.post-img2 {
  height: 14vw;
  width: 14vw;
  margin-top: 1vw;
}

.post-img3 {
  height: 14vw;
  width: 14vw;
  margin-top: 1vw;
}

.post-img4 {
  height: 14vw;
  width: 14vw;
  margin-top: -2vw;
  margin-top: 1vw;
}



}

@media only screen and (max-width: 544px) and (min-width: 0px) {

  header nav ul {
    height: 24vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: none;
  }

  .logo-container {
    background: url('../images/filmclub.png');
    background-position: center;
    background-color: #F5005B;
    background-size: 75%;
    background-repeat: no-repeat;
    padding-bottom: 2vw;
    height: 25vw;
    width: 25vw;
    }

    .nav-item1 {
      height: 8vw;
      width: 55vw;
      font-size: 3vw;
    }

    .nav-item2 {
      height: 8vw;
      width: 55vw;
      font-size: 3vw;
    }

    .nav-item3 {
      height: 8vw;
      width: 55vw;
      font-size: 3vw;
    }

    .header-content {
      margin: auto;
      width: 80vw;
      height: 35vw;
    }

    .header2-content {
      height: 80vw;
      width: 80vw;
    }

    .title-box-item {
      margin-left: 1vw;
    }

    .poster-container {
      margin-top: 4vw;
      margin-right: 1vw;
    }

    .picture-boxes {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: auto;
    }

    .slide-img {
      width: 32vw;
    }

    .entry-title {
      font-size: 1.5vw;
      width: 80vw;
    }




    footer nav ul {
      margin: auto;
      width: 35vw;
      height: 15vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }

    nav p {
      margin: auto;
    }

    footer nav .nav-item1 {
      width: 35vw;
    }

    footer nav .nav-item2 {
      width: 35vw;
    }

    footer nav .nav-item3 {
      width: 35vw;
    }


}
